body, html {
    margin: 0;
    padding: 0;
} 

#navTitle {
    color: gold;
    font-size: 1.75em;

}

nav {
    position: sticky;
    display: flex;
    background: #321A18;
    width: 100vw;
    top: 0;
    color: white;
    place-content: center;
    font-family: garamond;
}

.navLinks {
    margin: 0 25 0 25;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
}

.navLinks:hover {
    opacity: 75%;
}

.authors {
    margin-top: 100px;
    position: absolute;
}